h1,h2,p{
    text-align: center;
  }

.seals{
    max-width: 600px;
    width: 70%;
    background-color: rgb(223, 240, 239);
    margin: auto;
    border-radius: 5px;
    
}
body{
    border-radius: 0%;
    background-image:url(https://cdn.discordapp.com/attachments/1208696173070786571/1314474790089785375/Screenshot_2024-12-06_at_19-12-55_Pretty_seals_seamless_pattern_marine_Royalty_Free_Vector.png?ex=6753e78b&is=6752960b&hm=31e6732c38127e0dbb682eb0f31122cc7c8515dc1b4871c1ff04968587a59c6d&) ;
}

.pics{
    width: 70%;
    background-color: rgb(223, 240, 239);
    margin: auto;
    border-radius: 5px;
    margin-top: -16px;
}